<%- include('../partials/header') %>
    <h3>Books as of <%= time %></h3>
    <ul>
      <% books.forEach(function(b) { %>
        <li>
          <form action="/books/<%= b.id %>?_method=DELETE"
            class="delete-form" method="POST">
            <button type="submit">X</button>
          </form>
          <a href="/books/<%=b.id %>">
            <%= b.book %>
          </a>
        
            - 
          <%= b.read ? 'read' : 'not read yet' %>
        </li>
      <% }); %>
    </ul>
    <a href="/books/new">Add a Book</a>
    <%- include('../partials/footer') %>